@import url(./reset.css);
@import url(/public/fonts/InterWeb/inter.css);
:root{
	--blanc: #ffffff;
	--blancbr: #e2dfdf;
	--brut: #e4e3e3;
	--tarj: #ff7900;
	--sfosc: #333333;
	--fosc:#05040c;
}
a:link, a:visited, a:active {
    text-decoration:none;
	color: var(--fosc);
}
.gridContainer{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.5fr 15fr;
	background-color: var(--brut);
}
#hdr{  /*header*/
	background-color: var(--brut);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
}
.hdr-bt{ /*<a> header*/
	display: flex;
	flex-flow: wrap;
	float: right;
	margin: 10px;
	background-color: var(--brut);
	width: 7rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
}
.hdr-bt:hover{
	background-color: var(--fosc);
	opacity: 10%;
	color: var(--blanc);
	transition: background-color .6s;
	border-top: 2px solid var(--fosc);
    border-bottom: 2px solid var(--fosc);
	transform: scaleY(1.3);
}
.hdr-div{ /*<div> container <a>; header*/
	font-family: 'InterEBI';
	color: var(--fosc);
}
#box-5{ /*Nom*/
	float: left;
	padding-top: 1rem;
	padding-left: 3rem;
	font-family: 'InterBold';
}
footer{
	background-color: var(--fosc);
	height: 100px;
}
.cntn{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}



