---
    // Style Imports
import '../styles/contact.css';
import Base from '../components/Base.astro'
---
<Base>
<div class="all">
    <div class="intro">
        <h1>Get In Touch</h1>
        <p>If you have any curiosty or just want to say hello, my inbox is always open.</p>
    </div>
    <img src="/img/flecha.png" width="50px" height="50px">
    <div id="correu">toni.gomila7@gmail.com</div>
</div>
</Base>