---
// Style Imports
import '../styles/home.css';
// Component Imports
import Base from '../components/Base.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<Base>
<div class="all">
    <div class="codi dalt">
        <p>&#60;html&#62<br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &#60;body&#62<br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &#60;p&#62<br><br><br>
        </p>
    </div>
    <div class="titol">
        <h3>Hello, 
        I'm Toni</h3>
        <h1>Web Developer</h1>
    </div>

    <div class="codi baix">
        <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &#60;/p&#62
        <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &#60;/body&#62<br><br><br>
        &#60;/html&#62</p>
    </div>
</div>
</Base>